.title-div{
    color: aquamarine;
    font-weight: 500;
    font-size: 1rem;
}
.img-preview-edit {
    max-width: 20rem;
    max-height: 15rem;
    margin-top: 2rem;
}
.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
